
<div class="container-fluid">
 
    <app-search-form (searchOutput)= "repoSearch($event)"></app-search-form>
      <div class="container">
          <div class="container " style="width: 50%;">
              <div class="card"  style="width: 22rem;" class="repo" style="width: 50%;">
                <div class="card-body">
                  <h5 class="card-title">Repo Name:  </h5>
                  <div class="card-text">
                    <hr>
                    <div class="desc"><span class="top">Description:</span> 
                    </div>
                    <hr>
                    <div class="card-subtitle mb-2">
                        <span class="top">Language: </span> 
                    </div>
                    <div class="card-subtitle mb-2"><span class="top">Created On:</span> </div>
                  </div>
                  </div>
                  <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="Third group">
                      <button class="btn btn-sm btn-info"> </button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                      <button class="btn btn-sm btn-outline-danger"> </button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                      <button class="btn btn-sm btn-success" id="visit"><a href="" class="card-link">Visit  </a> </button> 
                    </div>
                  </div>
              </div>
            </div>
      </div>
  </div>
